h1 {
    font-size: 64px;
    text-align: center;
    text-shadow: 1px 1px 3px #444444;
}

form {
    background-color: rgba(#fff, 0.5);
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ion-item {
    margin: 20px;
    border-radius: 14px;
    --inner-border-width: 0px;
}

ion-button {
    margin: 20px;
}

h2 {
    text-align: center;
}
p {
    text-align: center;
}
ion-text {
    margin: 20px;
}