#splash {
  margin-top: 300px;
  margin-bottom: 15px;
  font-size: 65px;
  font-family: pacifico;
}
#header {
  position: relative;
}
ion-avatar {
  position: absolute;
  right: 15px;
  top: 15px;
}
ion-icon {
  font-size: 128px;
  color: #222222;
}
ion-button {
    margin: 10px 50px;
}
