.container {
  margin-top: 200px;
}

#splash {
  margin-bottom: 15px;
  font-size: 65px;
  font-family: pacifico;
}
#header {
  position: relative;
}

h1 {
  margin-top: 0%;
}

ion-avatar {
  position: absolute;
  right: 15px;
  top: 15px;
}

.heart{
  font-size: 128px;
}

.chevron{
  font-size: 20px;
}

ion-button {
    margin: 30px 50px;
}
