@font-face {
    font-family: Pacifico;
    src: url(../assets/fonts/Pacifico-Regular.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(../assets/fonts/Quicksand-VariableFont_wght.ttf);
}