ion-content {
    text-align: center;
}

.container {
    margin-top: 100px;
}

ion-icon {
    font-size: 200px;
    --ionicon-stroke-width: 16px;
}

h1 {
    font-size: 40px;
}


ion-button {
    margin: 40px 50px;
}
