.container {
    text-align: center;
}

.chevron {
    font-size: 30px;
    position: absolute;
    left: 15px;
    top: 35px;
}

ion-avatar {
    position: absolute;
    right: 15px;
    top: 15px;
}

h1 {
    font-size: 55px;
    margin-top: 80px;
}

.todo-input {
    margin: 20px;
    border-radius: 10px;
    --inner-border-width: 0px;
}

ion-button {
    margin: 20px;
}


.check-task {
    padding-right: 10px;
}

.undone, .done {
    margin: 16px;
    border-radius: 10px;
}

.done {
    opacity: 0.5;
}

.task-filter {
    --background: rgba(112,112,112, 0.3)
    
}

ion-select {
    --placeholder-color: #222222;
    --placeholder-opacity: 1;
}

ion-select::part(icon) {
    color: #222222;
    opacity: 0.8;
  }

  ion-select::part(placeholder){
    font-size: 20px;
    font-weight: 500;
  }
