.container {
    text-align: center;
}

ion-icon {
    font-size: 30px;
    position: absolute;
    left: 15px;
    top: 35px;
}

ion-avatar {
    position: absolute;
    right: 15px;
    top: 15px;
}

h1 {
    font-size: 55px;
    margin-top: 80px;
}

ion-item {
    margin: 20px;
    border-radius: 14px;
    --inner-border-width: 0px;
}

ion-button {
    margin: 20px;
}

ion-card {
    margin: 20px;
    padding: 10px;
}



