<ion-content [fullscreen]="true">
  <div class="container">
    <div class="top-nav">
      <ion-icon class="chevron" name="chevron-back-outline"></ion-icon>
      <ion-avatar [routerLink]="['/profile']">
        <img 
          alt="Silhouette of a person's head"
          src="../../assets/img/Avatar2.png" 
        />
      </ion-avatar>
    </div>
    <div>
      <h1>List Name</h1>
      <form (submit)="addTodo()">
        <ion-item class="todo-input">
          <ion-input type="text" name="todoInput" [(ngModel)]="todoInput" placeholder="There’s so many things to do...." ></ion-input>
        </ion-item>
        <ion-button 
          color="primary" 
          expand="block"
          type="submit"
          >Add Task
      </ion-button> 
    </form>
    </div>
    <div>
      <ion-item *ngFor="let todo of todos; let i = index;" lines="none" class="todo {{ (todo.completed ? 'done' : 'undone') }}">
        <ion-icon (click)="toggleDone(i)" class="check-task" [name]="todo.icon"></ion-icon>
        <ion-label>{{ todo.content }}</ion-label>
        <ion-icon (click)="deleteTodo(i)" class="delete-task" name="trash-outline"></ion-icon>
      </ion-item>
    </div>
     
  </div>
</ion-content>
<ion-footer class="bg-image" no-border>
        <ion-item class="task-filter">
          <ion-select text-center aria-label="tasks" interface="popover" placeholder="Filter tasks">
            <ion-select-option value="all">All tasks</ion-select-option>
            <ion-select-option value="done">Done tasks</ion-select-option>
            <ion-select-option value="undone">Undone tasks</ion-select-option>
          </ion-select>
        </ion-item>
</ion-footer>