<ion-content [fullscreen]="true">
  <div class="container">
    <div class="top-nav">
      <ion-icon name="chevron-back-outline"></ion-icon>
      <ion-avatar [routerLink]="['/profile']">
        <img 
          alt="Silhouette of a person's head"
          src="../../assets/img/Avatar2.png" 
        />
      </ion-avatar>
    </div>
    <div>
      <h1>List Name</h1>
      <ion-item>
        <ion-input placeholder="There’s so many things to do...." ></ion-input>
      </ion-item>
      <ion-button 
        color="primary" 
        expand="block">
        Add Task
    </ion-button> 
    </div>
    <div>
      <ion-card>
        <ion-label>Example item</ion-label>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <ion-icon name="trash-outline"></ion-icon>
      </ion-card>
    </div>

  </div>
</ion-content>
